@{
    ViewData["Title"] = "Group 7 - Assignment 2";
}

<div class="container">
    <h3 class="text-center">Group B - Assignment 2</h3>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contribution</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>C0839175</td>
                <td>Jessica Alvarez</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>C0843433</td>
                <td>Ronald Thomas</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>C0832079</td>
                <td>Rahul Dhiman</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>C0844343</td>
                <td>Anjumol Vezhavelli Paulose</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>C0827197</td>
                <td>Sriharsha Venigalla</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>C0822762</td>
                <td>Andres Espinosa</td>
                <td>Yes</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <hr/>
        <br/>
        <div class="container">
            <ol class="list-group">
                <li class="list-group-item">
                    <div class="ms-2-me-auto">
                        <div class="fw-bold">Meeting 1</div>
                        Notes
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2-me-auto">
                        <div class="fw-bold">Meeting 2</div>
                        Notes
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="ms-2-me-auto">
                        <div class="fw-bold">Meeting 3</div>
                        Notes
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>